@use '@angular/cdk';

@include cdk.text-field-autofill();

.usi-input-group {
  display: block;
  font-family: var(--font-family);
  min-width: var(--input-min-width);
  position: relative;
  width: 100%;

  .usi-input-group__input {
    background-color: var(--input-background-color);
    border: var(--input-border);
    border-radius: var(--input-corner-radius);
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--input-text-color);
    font-size: .875rem;
    height: 38px;
    padding: 8px 12px;
    width: 100%;

    &:hover {
      border-color: var(--input-border-color--hover);
    }

    &:disabled {
      background-color: var(--input-background--disabled);
      border-color: var(--input-border-color--disabled);
      color: var(--input-text-color--disabled);
      cursor: not-allowed;
    }

    &:focus {
      outline-color: var(--input-outline-color--focus);
    }

    &:not(:focus) {
      &::placeholder {
        color: transparent;
      }
    }

    &.usi-input-group__input--hidden {
      display: none;
    }

    &.usi-input-group__input--prefix {
      padding-left: 42px;
    }

    &.usi-input-group__input--suffix {
      padding-right: 36px;
    }


    &.usi-input-group__input--error {
      border-color: var(--input-border-color--error);
      outline-color: var(--input-outline-color--error);
    }
  }
}

.usi-input-group__input:focus::placeholder {
  color: var(--input-placeholder-color);
}

.usi-input-group__input:focus ~ .usi-input-group__label {
  background-color: var(--input-label-background-color--focus);
  color: var(--input-label-text-color--focus);
  display: -webkit-box;
  font-size: 0.625rem;
  height: min-content;
  left: 12px;
  max-width: calc(100% - 28px);
  overflow: hidden;
  padding: 0 2px;
  text-overflow: ellipsis;
  top: -7px;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  &.usi-input-group__label--error {
    color: var(--input-label-text-color--focus--error);
  }
}

.usi-input-group__input--filled ~ .usi-input-group__label {
  background-color: var(--input-label-background-color--filled);
  color: var(--input-label-text-color--filled);
  font-size: 0.625rem;
  height: min-content;
  left: 12px;
  padding: 0 2px;
  top: -7px;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  &.usi-input-group__label--error {
    color: var(--input-label-text-color--filled--error);
  }
}

.usi-input-group__label {
  color: var(--input-label-text-color);
  display: -webkit-box;
  font-size: .875rem;
  left: 12px;
  max-width: calc(100% - 28px);
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  top: 9px;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  &.usi-input-group__label--prefix {
    left: 42px;
  }

  &.usi-input-group__label--error {
    color: var(--input-label-text-color--error);
  }
}

.usi-input-group__prefix {
  color: var(--input-icon-color);
  font-size: 1.125rem;
  left: 12px;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.usi-input-group__prefix--multiselect {
  font-size: 1rem;
  left: auto;
}

.usi-input-group__suffix {
  color: var(--input-icon-color);
  font-size: 1.125rem;
  right: 12px;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.usi-input-group__suffix--error {
  color: var(--input-label-text-color--error);
}

.usi-input-group__suffix--password {
  cursor: pointer;
}

.usi-input-group__suffix--multiselect {
  font-size: 0.75rem;
  right: 38px;
}

.usi-input-group__hint {
  color: var(--input-icon-color);
  display: block;
  font-size: 0.625rem;
  left: 12px;
  margin-top: 4px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 8px);
}

.usi-input-group__hint--error {
  color: var(--input-hint-text-color--error);
}

//TODO: Move to badge component when created
.badges {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
}

.badge {
  align-items: center;
  border: 1px solid #ADADAE;
  border-radius: 3px;
  color: #292829;
  display: flex;
  font-size: 0.75rem;
  max-height: 23px;
  min-width: max-content;
  padding: 2px 8px;
}

.badge--overflow {
  cursor: pointer;

  &:hover {
    background-color: #F5F5F5;
  }
}

.badge fa-icon {
  color: #717073;
  cursor: pointer;
  font-size: 0.875rem;
  margin-left: 12px;
}

.badges__modal {
  background: transparent;
  display: none;
  position: absolute;
  right: -25px;
  top: 100%;
}

.badges__overflow {
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.32);
  flex-direction: column;
  font-size: 0.875rem;
  justify-content: center;
  margin-top: 10px;
  padding: 16px;
  z-index: 99;

  span {
    color: #292829;
    margin: 0 12px 0 0;
  }

  fa-icon {
    color: #717073;
    cursor: pointer;
  }

  div {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.badges:hover .badge--overflow:hover + .badges__modal,
.badges__modal:hover {
  display: flex;
}
