.usi-select__option--search {
  position: relative;
}

.usi-select__search {
  border: none;
  box-sizing: border-box;
  height: 42px;
  font-family: var(--font-family);
  font-size: 14px;
  margin-left: -4px;
  margin-right: -4px;
  padding: 14px 16px 14px 28px;
  position: relative;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.usi-select__option--controls {
  align-items: center;
  border-bottom: 1px solid #D8D9DA;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px !important;
  margin-left: -4px !important;
  margin-right: -4px !important;
  padding-left: 16px !important;
}

.usi-select__clear-all {
  color: var(--primary);
  cursor: pointer;
  font-size: 0.75rem;
}
