::ng-deep.usi-table__sort {
  color: var(--table-sort-icon-color);
  cursor: pointer;
  font-size: .875rem;
  margin-left: 8px;
}

::ng-deep.usi-table__label--center {
  @media only screen and (min-width: 768px) {
    text-align: center;
  }
}

::ng-deep.usi-table__label--right {
  @media only screen and (min-width: 768px) {
    text-align: right;
  }
}
