@use '../../campfire.css';

.usi-modal {
  background-color: var(--modal-background-color);
  box-shadow: var(--modal-box-shadow);
  position: relative;
  width: var(--modal-width);

  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

::ng-deep .usi-underlay:before {
  content: "";
  background: var(--modal-underlay-color);
  display: block;
  height: 100vh;
  position: relative;
  width: 100vw;
  z-index: -1;
}

.usi-modal__content {
  padding: 32px;

  @media only screen and (max-width: 576px) {
    padding: 20px;
  }
}
